.down {
  width: 794px;
  margin-left: auto;
  margin-right: auto;
  background-color: #f2cac2;
  padding: 3px;
}

#container {
  width: 800px;
  margin-left: auto;
  margin-right: auto;
}

#empty {
  display: none;
}

table {
  border-collapse:collapse; 
  border-bottom: 1px solid black;
}

table, th, td {
  border-left: 1px solid black;
  border-right: 1px solid black;
}

th {
  border-top: 1px solid black;
  border-bottom: 1px solid black;
  text-align: left;
  background-color: #ccc;
}

th, td {
  padding: 3px;
}

tr:nth-child(odd) {
  background-color: #eee;
}

tr:nth-child(even) {
  background-color: #fff;
}

.text-center {
  text-align: center;
}